head, title, body, header, img, nav, ul, li, section, h2,
figure, figcaption, p, aside, ol, form, label, input,  select, option,
textarea, footer, html {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
