body {

  font-family: Arial, sans-serif;
  background-color: #00FFFF;
  line-height: 1.5;
}

h1 {
  
  font-size: 38px;
}

h2 {

  font-size: 32px;
}

.ingredients-list {

  list-style: square inside;

}

.directions_list {

  list-style: decimal inside;

}

header > img {

  width: 100px;
}

ul a {

  text-decoration: none;
  color: inherit;
}

.user_review {

  font-size: 50px;
}
